<ion-view view-title="Uso de Navegadores">
  <ion-content>
    <div class="list">
      <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
        Open a Browser (System)
      </a>
      <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_blank', 'location=yes'); return false;">
        Open a Twitter Client or Browser (Blank)
      </a>
      <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_blank', 'location=no'); return false;">
        Open a Twitter Client or Browser (Blank without location)
      </a>
      <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_self', 'location=yes'); return false;">
        Open a Google+ Client or Browser (Self)
      </a>
    </div>
  </ion-content>
</ion-view>