<div>
    <ion-view view-title="Nota">
        <ion-content>
            <div class="list card">
                <div class="item-input">
                    <input type="text" ng-model="nota.titulo"/>
                </div>
                <div class="item-input">
                    <textarea ng-model="nota.descripcion"></textarea>
                </div>
            </div>
            <div class="list card">
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="guardarNota()">Guardar</button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>
