<ion-view view-title="Mis Notas">
    <ion-content ng-controller="listCtrl">
        <ion-list>
            <ion-item class="item-remove-animate" href="/#/edit/{{nota.id}}" ng-repeat="nota in notas">
                <h2>{{nota.titulo}}</h2>
                <p>{{nota.descripcion}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(nota.id)">Eliminar</ion-option-button>
            </ion-item>
        </ion-list>
        
        <div class="padding">
            <a href="/#/create" class="button button-block button-positive">Agregar</a>
        </div>
    </ion-content>
</ion-view>
