<ion-view view-title="Mis Notas">
    <ion-content ng-controller="listCtrl">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" href="/#/edit/{{nota.id}}" ng-repeat="nota in notas">
                <i class="icon ion-ios-arrow-forward"></i>
                <h2>{{nota.titulo}}</h2>
                <p>{{nota.descripcion}}</p>
                <ion-option-button class="button-assertive icon-left ion-ios-trash" ng-click="remove(nota.id)">Eliminar</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
            <a href="/#/create" class="button button-positive icon-left ion-compose">Agregar</a>
    </div>
</ion-view>
